<%include ../partials/header%>
<%include ../partials/capacityaside%>

<div id="onright">
  <div class="container">
    <div class="jumbotron" id="jumbo">
    <h3>List of Capacity Requests</h3>
    </div>
    <div class="d-flex">
    <div class="mr-auto p-2">
      <button id="btnExport" class="btn btn-success" onclick="fnExcelReport();"> Export To Excel </button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-success" data-title="Filter By Date" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" id="filter">Filter By Date</button>
    </div>
    </div>
    <div id="popover-content" style="display:none">
      <form action="/capacity/filter" method="POST" class="form">
       From: <input type="date" name="start_date" class="form-control">
       To: <input type="date" name="end_date" class="form-control"><br>
    <center><input type="submit" class="btn btn-secondary"  value="Go"></center>
    </form>
    </div>
    <div class="container" >
    <div class="row">
      <div class="col-xs-10">
        <div class="table-responsive" id="list_table1">
          <table class="table table-bordered table-hover" id="headerTable">
            <thead>
              <tr>
                <th>Request Number</th>
                <th>Type Of capacity</th>
                <th>Date of capacity Request</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% capacity.forEach(function(capacity){%>
                <tr>
                  <td><%= capacity.capacityNum%> </td>
                  <td><%= capacity.type%></td>
                  <td><%=capacity.date.toDateString()%></td>
                  <td><%= capacity.status%></td>
                </tr>
              <%})%>
            </tbody>
          </table>
          <iframe id="txtArea1" style="display:none"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 
  $('[data-toggle="popover"]').popover({
     html: true, 
	   content: function() {
          return $('#popover-content').html();
        }
  });
 function fnExcelReport()
{
    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    var textRange; var j=0;
    tab = document.getElementById('headerTable'); // id of table

    for(j = 0 ; j < tab.rows.length ; j++) 
    {     
        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        //tab_text=tab_text+"</tr>";
    }

    tab_text=tab_text+"</table>";
    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE "); 

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
    {
        txtArea1.document.open("txt/html","replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus(); 
        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
    }  
    else                 //other browser not tested on IE 11
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

    return (sa);
}
</script>
<%include ../partials/footer%>