<aside>
  <div class="sidenav">
    <ul>
      <a href="/capacity/new">Initiate Capacity Requests</a><br>
      <hr class="style">
      <a href="/capacity">List Of Capacity Requests</a><br>
      <hr class="style">
      <a href="/capacity/approved">Approved Capacity Requests</a><br>
      <hr class="style">
      <a href="/capacity/pending">Pending Capacity Requests</a><br>
      <hr class="style">
    </ul>
  </div>
</aside>