<aside>
  <div class="sidenav">
    <ul>
      <a href="/change/new">Initiate Change Requests</a><br>
      <hr class="style">
      <a  href="/change">List Of Change Requests</a><br>
      <hr class="style">
      <a href="/change/approved">Approved Requests</a><br>
      <hr class="style">
      <a href="/change/pending">Pending Requests</a><br>
      <hr class="style">
    </ul>
  </div>
</aside>