<aside>
  <div class="sidenav">
    <ul>
      <a href="/incident/new">Initiate Incident Requests</a><br>
      <hr class="style">
      <a href="/incident/new#actionplan">Generate Action Plan</a><br>
      <hr class="style">
      <a href="/incident">List Of Incident Requests</a><br>
      <hr class="style">
      <a href="/incident/approved">Approved Action Plans</a><br>
      <hr class="style">
      <a href="/incident/pending">Pending Action Plans</a><br>
      <hr class="style">
    </ul>
  </div>
</aside>